{% import "bootstrap/wtf.html" as wtf %}

{% include "header.html" %}

<!-- Page Header -->

<header class="masthead" style="background-color:#81C6E8">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Register</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

<section class="colored-section" id="register">
    <div class="container-fluid">
        <div class="col">
            {% with messages=get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p style="color:red">{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div class="register-form mx-auto">
                {{ ckeditor.load() }}
                {{ ckeditor.config(name='about') }}
                {{ ckeditor.config(name='address') }}
                {{wtf.quick_form(form=form,novalidate=True,button_map={"submit":"dark"})}}
            </div>
        </div>
    </div>

</section>





{% include "footer.html" %}